:root {
    --green: chartreuse; 
    --white: white; 
    --black: black; 
    --bg: var(--white); 
    --fontcolor: var(--black); 
}

body {
    font-family: monospace;
    background: var(--bg); 
}

ul {
    font-family: Helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

:root {
    --green: chartreuse;
    --white: white;
    --black: black;
    --bg: var(--white);
    --fontcolor: var(--black);
    --btnbg: var(--black);
    --btnfontcolor: var(--white);

.light-theme {
    --bg: var(--green); 
    --fontcolor: var(--black); 
    color: var(--fontcolor); 
    background-color: var(--bg); 
}

.dark-theme {
    --bg: var(--black); 
    --fontcolor: var(--green); 
    color: var(--fontcolor); 
    background-color: var(--bg); 
}
.btn {
    color: var(--btnfontcolor);
    background-color: var(--btnbg);
    }
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius:50%;
    border: none;
    color: var(--btnfontcolor);
    background-color: var(--btnbg);
   }
   .btn:focus {outline-style: none;}

   .light-theme {
   --bg: var(--green);
   --fontColor: var(--black);
   --btnBg: var(--black);
   --btnFontColor: var(--white);
}

   .dark-theme {
    --bg: var(--black);
    --fontcolor: var(--green);
    --btnbg: var(--white);
    --btnfontcolor: var(--black);   
   }  